@media only screen and (min-width:1500px) and (max-width:1599px)
{	

	
}
@media only screen and (min-width:1400px) and (max-width:1499px)
{	
	

}

@media only screen and (min-width:1300px) and (max-width:1399px)
{	
   .rolechecklist {gap: 20px;}
}
@media only screen and (min-width:1200px) and (max-width:1299px)
{	

  .strucchart img{width: 100%;}
  .rolechecklist {gap: 20px;}
  .rolcheck .col-lg-2{width: 28.666667%;}

}

@media only screen and (max-width: 1199px)
{	

	 .rolechecklist, .rolcheck .row{display: grid !important;grid-template-columns: 1fr 1fr 1fr !important;}
   .rolechecklist  .col-lg-2, .rolcheck .row .col-lg-2{width: 100%;}
 


  
}

@media only screen and (min-width: 992px) and (max-width: 1199px)
{	
	


	#cssmenu > ul > li::before {right: -26px;}
  #fields-container .field-group{grid-template-columns: 150px 150px 150px 120px;}



}

@media only screen and (max-width: 1024px)
{	
  
}

@media only screen and (max-width: 991px)
{	
    #fields-container .field-group{ grid-template-columns: 160px 160px 160px 120px !important;}
	
}
@media only screen and (min-width: 768px) and (max-width: 991px)
{	
	
	

}
@media only screen and (max-width: 767px)
{	

	table.table.dataTable > tbody > tr td {color: #000;}
 .checkboxs .checkmarks{right: 0;left: inherit;}
  table { border: 0; }

  td h2{ justify-content: end;flex-direction: row-reverse; gap: 12px;white-space: break-spaces; padding-left: 8px;}
  table thead { border: none;clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
  table tr {border-bottom: 3px solid #ddd;display: block; }
  table td {border-bottom: 1px solid #ddd; display: block; text-align: right; }
  table td::before { content: attr(data-label); float: left;  font-weight: bold; }
  table td:last-child { border-bottom: 0; }
  table.table.dataTable > tbody > tr td:first-child{background: #dddddd59;}
  .table tbody tr td:first-child{background: #dddddd59;}
  .checkboxs input ~ .checkmarks {border: 1px solid #000000;}
  .link-info{text-align: right;}
  .dateofbirth .icon-form .form-icon{transform: translateY(0%);}



}	
@media only screen and (min-width: 640px) and (max-width: 767px)
{	
	 #fields-container .field-group { display: block;}
  .field-group input, .field-group select{margin-bottom: 10px;}
}
@media only screen and (max-width: 639px)
{	
	
	.rolechecklist, .rolcheck .row{display: grid !important;grid-template-columns: 1fr 1fr !important;}
  #fields-container .field-group { display: block;}
  .field-group input, .field-group select{margin-bottom: 10px;}
}

@media only screen and (max-width: 575px)
{	

  .rolechecklist{display: block !important;}
   .header .header-left .logo{width: 50%;}
   .header .mobile-user-menu{width: 47px;}


}
@media only screen and (max-width: 479px)
{	

   .link-info{text-align: right;}
   .listcheck ul{display: block;}
   .icon-form .form-icon{top: 50%;}
  #fields-container .field-group {display: block;}
  #fields-container .field-group div{margin-bottom: 10px;}
  #fields-container button.add-btn.btn.btn-primary {margin-top: 10px;}

  .rolechecklist, .rolcheck .row{display: grid !important;grid-template-columns: 1fr !important;}



	
}

@media only screen and (max-width: 399px) 
{	

	  
}

@media only screen and (max-width: 359px) 
{
	
}
	
img {max-width: 100%; height: auto;}